:root {
  --max-width: 1360px;
}

.appView {
  max-width: var(--max-width);
  margin: auto;
  min-height: 100vh;
  background-color: white;
}
.appView_header {
  border-bottom: 1px solid #efefef;
  height: 70px;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
}
.headerTitle {
  font-weight: bold;
  font-size: 30px;
  color: #174152;
}
.appView_body {
  display: flex;
}
/* ////////////////// */
.asideContent {
  width: 600px;
  padding: 2rem;
}
.asideContent_figure {
  border-radius: 20px;
  border: 10px solid lightgrey;
}
/* ////////////////// */
.mainContent {
  flex: 1;
  padding: 2rem;
}
.mainContent_name {
  font-size: 24px;
  font-weight: 700;
}
.mainContent_description {
  font-size: 18px;
  margin: 0 0 3rem;
}
/* ////////////////// */
.mainContent_data {
  display: flex;
  align-items: center;
}
.mainContent_data > .dataLabel {
  font-size: 18px;
  font-weight: 500;
}
.mainContent_data > .dataValue {
  font-size: 18px;
  margin: 0 0 0 0.25rem;
}
/* ////////////////// */
.mainContent_options {
  padding: 2rem 0 0;
}
.optionsTitle {
  font-size: 20px;
  font-weight: 500;
}
.optionsField {
  align-items: center;
  display: flex;
  margin: 0 0 1rem;
}
.optionsField_input {
  width: 250px;
  min-height: 36px;
  outline: none;
  padding: 0.5rem 0.625rem;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #c5c8cd;
  margin: 0 0.5rem 0 0;
}
.optionsField_inputError {
  border: 1px solid #dd3f3f;
  color: #dd3f3f;
}
.optionsField_inputMessage {
  color: #dd3f3f;
  font-size: 10px;
}

.optionsField_button {
  background-color: #3a8fb3;
  border-radius: 4px;
  border: 1px solid #3a8fb3;
  cursor: pointer;
  min-height: 36px;
  outline: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  width: 250px;
  outline: none;
}
.optionsField_button:disabled {
  background-color: lightgray;
  border: 1px solid lightgray;
  cursor: no-drop;
}
.optionsField_buttonSecondary {
  background-color: #47b38b;
  border: 1px solid #47b38b;
}
.optionsField_buttonSecondary2 {
  background-color: #89d99d;
  border: 1px solid #89d99d;
}

.optionsField_label {
  font-size: 16px;
  margin: 0 0 0 0.5rem;
}
.line {
  background-color: lightgrey;
  height: 1px;
  width: 100%;
  margin: 2rem 0;
}
